<div class="row">
  <div class="col-6">
    <%= form_with model: @new_fin do |form| %>
      <div class="col-4">
        <%= form.label :monthly_salary, class: "form-label" %><br>
        <%= form.text_field :monthly_salary, class: "form-control" %>
      </div>
      <br />

      <div class="col-4">
        <%= form.submit 'Start', { class: "btn btn-light" } %>
      </div>
    <% end %>
  </div>
</div>



